@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

html,
body {
  margin: 0;
  padding: 0;
  background: #fcf8f2;
  color: #1d1712;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
